<div class="card card-accent-primary">
  <div class="card-header">
    <h4>Hue Bridge hinzufügen</h4>
  </div>

  <form role="form" name="ipForm" class="needs-validation" novalidate>
    <div class="card-body">
      <div class="form-group">
        <label><i class="fa" [ngClass]="{'fa-times-circle-o': bridgeIp.invalid && bridgeIp.dirty, 'fa-check': bridgeIp.valid}"></i> IP-Adresse:</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="cui-globe"></i>
            </span>
          </div>
          <input type="text" class="form-control" [class.is-invalid]="bridgeIp.invalid && bridgeIp.dirty" [class.is-valid]="bridgeIp.valid" name="ip" placeholder="IP-Adresse eingeben" #bridgeIp="ngModel" [(ngModel)]="ip" required="required" [pattern]="ipPattern">
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-success mr-1" [disabled]="bridgeIp.invalid" (click)="createBridge()">Anlegen</button>
      <button type="button" class="btn btn-default" (click)="searchForBridges()" [disabled]="loadingBridges">Nach
        Bridges suchen</button>
    </div>
  </form>
</div>
