button {
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 200;
  line-height: 1.1;
  outline: none;
  padding: 3px 3px;
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}
