<div class="card card-accent-secondary">
  <div class="card-header">
    <h4>Übersicht</h4>
  </div>
  <div class="card-body">
    <app-paging-bar [pagingService]="bridgeData"></app-paging-bar>

    <p [hidden]="bridgeData.count > 0">keine Bridges vorhanden</p>

    <table class="table table-bordered table-striped" *ngIf="bridgeData.dtos.length">
      <thead>
        <tr>
          <th>IP</th>
          <th>Hue-User</th>
          <th>Besitzer</th>
          <th>Status</th>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of bridgeData.dtos">
          <td>{{ b.ip }}</td>
          <td>{{ b.hueUserName }}</td>
          <td>{{ b.user ? b.user.email : '-' }}</td>
          <td *ngIf="b.state">{{ b.state }}</td>
          <td *ngIf="!b.state">Antwortet nicht</td>
          <td>
            <button class="btn btn-sm btn-default" (click)="removeBridge(b)" *ngIf="(b.user.id === userId) || isAdmin">Entfernen</button>
            <span *ngIf="b.user.id != userId && !isAdmin()">keine Berechtigung</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
