<div class="card card-accent-primary">
  <div class="card-header">
    <h4>Verfügbare Lampen</h4>
  </div>
  <div class="card-body">
    <button class="btn btn-success" style="margin-bottom: 15px;" (click)="refresh()" [disabled]="isRefreshing">Aktualisieren</button>

    <p *ngIf="availableLamps?.length < 1">keine Lampen vorhanden</p>

    <table class="table table-bordered table-striped" *ngIf="availableLamps?.length > 0">
      <thead>
        <tr>
          <th>Hue-ID</th>
          <th>Name</th>
          <th>Typ</th>
          <th>Hersteller</th>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of availableLamps">
          <td>{{ l.uniqueId }}</td>
          <td>{{ l.name }}</td>
          <td>{{ l.type }}</td>
          <td>{{ l.manufacturerName }}</td>
          <td>
            <button class="btn btn-sm btn-light mr-1" (click)="pulseOnce(l)">Pulsieren lassen</button>
            <button class="btn btn-sm btn-light" (click)="takeLamp(l)" [disabled]="isTaking">Übernehmen</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
