<div class="card card-accent-secondary">
  <div class="card-header">
    <h4>Übersicht</h4>
  </div>
  <div class="card-body">

    <app-paging-search-bar [pagingService]="teamData"></app-paging-search-bar>
    <app-paging-button-bar [pagingService]="teamData"></app-paging-button-bar>
    <app-paging-page-size-select [pagingService]="teamData"></app-paging-page-size-select>

    <p [hidden]="teamData.dtos.length > 0">keine Teams vorhanden</p>

    <table class="table table-bordered table-striped" [hidden]="teamData.dtos.length < 1" *ngIf="!isAdmin">
      <thead>
        <tr>
          <th>Team</th>
          <th>Größe</th>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of teamData.dtos">
          <td>{{ t.name }}</td>
          <td>{{ t.users.length }}</td>
          <td>keine Berechtigung</td>
        </tr>
      </tbody>
    </table>

    <table class="table table-bordered table-striped" [hidden]="teamData.dtos.length < 1" *ngIf="isAdmin">
      <thead>
        <tr>
          <th>Name</th>
          <th>Mitglieder</th>
          <th>Größe</th>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let t of teamData.dtos">
          <td>{{ t.name }}</td>
          <td class="col-xs-6">
            <button type="button" class="btn btn-sm btn-success" *ngIf="t.users.length < 1" (click)="createUser(t.id)"><i class="fa fa-plus"></i></button>

            <table class="table table-condensed jh-inner-table" *ngIf="t.users.length">
              <thead>
                <tr>
                  <th>Login</th>
                  <th>Rollen</th>
                  <th>
                    <button type="button" class="btn btn-sm btn-success" (click)="createUser(t.id)"><i class="fa fa-plus"></i></button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let u of t.users">
                  <td>{{ u.login }}</td>
                  <td *ngIf="u.roles.length < 1">keine</td>
                  <td *ngIf="u.roles.length">
                    <p *ngFor="let r of u.roles">{{ r.text }}</p>
                  </td>
                  <td>
                    <button class="btn btn-sm btn-primary mr-1" (click)="changeRoles(u.id, u.roles)" [disabled]="loadingRoles"><i class="fa fa-pencil"></i></button>
                    <button type="button" class="btn btn-sm btn-default" (click)="removeUser(u.id)" *ngIf="removingUserPossible(u.id)">Entfernen</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td>{{ t.users.length }}</td>
          <td>
            <button class="btn btn-sm btn-default" (click)="removeTeam(t.id)" *ngIf="removingTeamPossible(t.id)">Entfernen</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
