@import "scss/variables";

.jh-navbar {
  z-index: 99999;
  position: absolute;
  width: 100%;
  padding-left: 0;
  background-color: $white !important;
  border-bottom: 1px solid $secondary;

  ul {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .jh-navbar {
    justify-content: space-between;

    ul {
      margin-left: unset;
    }
  }
}

.jh-navbar-toggler {
  border: none;
  outline: none;
  width: $sidebarItemSize;
}

.dropdown-toggle::after {
  content: unset !important;
}

.dropdown-menu {
  position: absolute;
}

.nav-item {
  margin-right: 10px;
}
