@media (max-width: 991px) {
  .container-fluid {
    padding: 0 15px;
  }
}

.jh-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  max-height: 100vh;
  padding-top: 53px;
}

.jh-section {
  flex-grow: 1;
  overflow-y: auto;
}
