<app-alert-container></app-alert-container>

<app-navbar (navbarTogglerClick)="sidebarOpen = !sidebarOpen"></app-navbar>

<div class="jh-content">
  <app-sidebar [navItems]="navItems"
               [open]="sidebarOpen"
               [compact]="sidebarCompact"
               (compactTogglerClick)="sidebarCompact = !sidebarCompact"></app-sidebar>
  <div class="jh-section">
    <div class="container-fluid">
      <app-page-title></app-page-title>
    </div>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
