<app-modal-header [title]="title" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend" *ngIf="icon">
        <span class="input-group-text">
          <i [ngClass]="icon"></i>
        </span>
      </div>
      <input type="text" name="name" class="form-control" placeholder="Name eingeben" [(ngModel)]="name" (keydown.enter)="save()">
    </div><!-- /.input group -->
  </div><!-- /.form-group -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="cancel()">Abbrechen</button>
  <button type="button" class="btn btn-primary" (click)="save()">Speichern</button>
</div>
