<div>
  <div class="jh-switch-row">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch"  [ngModel]="scenarioConfig?.lampOn" (ngModelChange)="scenarioConfig.lampOn = $event">
      <label class="form-check-label me-1">Lampe:</label>
      <span *ngIf="scenarioConfig?.lampOn">Ein</span>
      <span *ngIf="!scenarioConfig?.lampOn">Aus</span>
    </div>
  </div>
  <div class="jh-box jh-scenario-config">

    <div [hidden]="!scenarioConfig?.lampOn">

      <div class="jh-switch-row">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" [ngModel]="scenarioConfig?.onetimePulsationEnabled" (ngModelChange)="scenarioConfig.onetimePulsationEnabled = $event">
          <label class="form-check-label">Einmaliges Pulsieren</label>
        </div>
      </div>
      <div class="jh-box" *ngIf="scenarioConfig?.onetimePulsationEnabled">
        <!-- Farbwechsel beim Pulsieren -->
        <div class="jh-switch-row">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" [ngModel]="scenarioConfig?.onetimePulsationColorChangeEnabled"
                   (ngModelChange)="scenarioConfig.onetimePulsationColorChangeEnabled = $event" (change)="checkOnetimePulsationColor()">
            <label class="form-check-label">Farbiges Pulsieren</label>
          </div>
        </div>
        <div class="jh-box" *ngIf="scenarioConfig.onetimePulsationColorChangeEnabled">
          <div class="input-group">
            <input class="form-control jh-color-input" [(colorPicker)]="scenarioConfig.onetimePulsationColorHex" [cpOutputFormat]="'hex'"
              [cpAlphaChannel]="'disabled'" [cpPosition]="'bottom'" [value]="scenarioConfig.onetimePulsationColorHex">
            <div class="input-group-text">
              <div class="jh-color-indicator" [style.background]="scenarioConfig.onetimePulsationColorHex"></div>
            </div>
          </div><!-- /.input group -->
        </div>
      </div>

      <div class="jh-switch-row">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" [ngModel]="scenarioConfig?.colorChangeEnabled"
                 (ngModelChange)="scenarioConfig.colorChangeEnabled = $event" (change)="checkColor()">
          <label class="form-check-label">Farbwechsel</label>
        </div>
      </div>
      <div class="jh-box" *ngIf="scenarioConfig?.colorChangeEnabled">
        <div class="input-group">
          <input class="form-control jh-color-input" [(colorPicker)]="scenarioConfig.colorHex" [cpOutputFormat]="'hex'"
            [cpAlphaChannel]="'disabled'" [cpPosition]="'bottom'" [value]="scenarioConfig.colorHex">
          <div class="input-group-text">
            <div class="jh-color-indicator" [style.background]="scenarioConfig.colorHex"></div>
          </div>
        </div>
      </div>

      <div class="jh-switch-row">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch"  [ngModel]="scenarioConfig?.brightnessChangeEnabled"
                 (ngModelChange)="scenarioConfig.brightnessChangeEnabled = $event" (change)="checkBrightness()">
          <label class="form-check-label me-1" *ngIf="scenarioConfig?.brightnessChangeEnabled">Helligkeitswechsel:</label>
          <label class="form-check-label" *ngIf="!scenarioConfig?.brightnessChangeEnabled">Helligkeitswechsel</label>
          <span *ngIf="scenarioConfig?.brightnessChangeEnabled">{{ scenarioConfig.brightness / 254 * 100 | number :
            '1.0-0'}}%</span>
        </div>
      </div>
      <div class="jh-box" *ngIf="scenarioConfig?.brightnessChangeEnabled">
        <app-slider [min]="1" [max]="254" [(value)]="scenarioConfig.brightness"></app-slider>
      </div>
    </div>
  </div>
</div>

