<app-modal-header [title]="'Szenarios hinzufügen'" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-group">
    <ng-select [items]="scenarios" [multiple]="true" bindLabel="text" placeholder="Szenarios auswählen..." [(ngModel)]="selectedScenarios">
    </ng-select>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="cancel()">Abbrechen</button>
  <button type="button" class="btn btn-primary" (click)="addScenarios()">Hinzufügen</button>
</div>
