<app-modal-header [title]="'Jobs hinzufügen'" (cancel)="cancel()"></app-modal-header>
<div class="modal-body">
  <div class="form-group">
    <ng-select [items]="jobs" [multiple]="true" bindLabel="name" placeholder="Jobs auswählen..." [(ngModel)]="selectedJobs">
    </ng-select>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="cancel()">Abbrechen</button>
  <button type="button" class="btn btn-primary" (click)="addJobs()">Hinzufügen</button>
</div>
