<div class="modal-header">
  <h4 class="modal-title pull-left">Jobs hinzufügen</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="cancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <ng-select [items]="jobs" [multiple]="true" bindLabel="name" placeholder="Jobs auswählen..." [(ngModel)]="selectedJobs">
    </ng-select>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="cancel()">Abbrechen</button>
  <button type="button" class="btn btn-primary" (click)="addJobs()">Hinzufügen</button>
</div>
