<div class="card card-accent-secondary">
  <div class="card-header">
    <h4>Übersicht</h4>
  </div>
  <div class="card-body">
    <app-paging-bar [pagingService]="userData"></app-paging-bar>

    <p [hidden]="userData.dtos.length > 0">keine Benutzer vorhanden</p>

    <table class="table table-bordered table-striped" *ngIf="userData.dtos.length">
      <thead>
        <tr>
          <th>Vorname</th>
          <th>Nachname</th>
          <th>E-Mail</th>
          <th>Login</th>
          <th>Team</th>
          <th>Rollen</th>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of userData.dtos">
          <td>
            <span *ngIf="!u.forename">-</span>
            <span *ngIf="u.forename">{{ u.forename }}</span>
          </td>
          <td>
            <span *ngIf="!u.surname">-</span>
            <span *ngIf="u.surname">{{ u.surname }}</span>
          </td>
          <td>
            <span *ngIf="!u.email">-</span>
            <span *ngIf="u.email">{{ u.email }}</span>
          </td>
          <td>{{ u.login }}</td>
          <td>{{ u.team.name }}</td>
          <td *ngIf="u.roles.length < 1">keine</td>
          <td *ngIf="u.roles.length">
            <p *ngFor="let r of u.roles">{{ r.text }}</p>
          </td>
          <td>
            <button class="btn btn-sm btn-primary mr-1" (click)="changeRoles(u.id, u.roles)" *ngIf="isAdmin" [disabled]="loadingRoles"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-sm btn-default mr-1" (click)="removeUser(u)" *ngIf="removingUserPossible(u)">Entfernen</button>
            <span *ngIf="!removingUserPossible(u) && (u.id != userId)">keine Berechtigung</span>
            <span *ngIf="!isAdmin && (u.id == userId)">-</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
