<div class="modal-header">
  <h4 class="modal-title pull-left">Scenarios hinzufügen</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  TODO
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Abbrechen</button>
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Hinzufügen</button>
</div>
