<div class="animated fadeIn">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 jh-col">
      <app-dashboard-card backgroundColor="bg-teal" [caption]="dashboard?.bridgeCount" text="Bridges" icon="cil-router" linkText="Verwalten"
        link="#/bridge-management"></app-dashboard-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 jh-col">
      <app-dashboard-card backgroundColor="bg-yellow" [caption]="dashboard?.availableLampCount" text="Verfügbare Lampen" icon="icon-bulb" linkText="Verwalten"
        link="#/lamp-management"></app-dashboard-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 jh-col">
      <app-dashboard-card backgroundColor="bg-light-blue" [caption]="dashboard?.teamLampCount" text="Lampen des Teams" icon="icon-bulb" linkText="Zuweisungen"
        link="#/build-assignment"></app-dashboard-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 jh-col">
      <app-dashboard-card backgroundColor="bg-light-blue" [caption]="dashboard?.lampCount" text="Alle Lampen" icon="icon-bulb"></app-dashboard-card>
    </div>
  </div>
  <!--/.row-->

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 jh-col">
      <app-dashboard-card backgroundColor="bg-red" [caption]="dashboard?.teamUserCount" text="Administratoren des Teams" icon="cil-people"
        linkText="Verwalten" link="#/user-management"></app-dashboard-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 jh-col">
      <app-dashboard-card backgroundColor="bg-red" [caption]="dashboard?.userCount" text="Alle Administratoren" icon="cil-people"></app-dashboard-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 jh-col">
      <app-dashboard-card backgroundColor="bg-green" [caption]="dashboard?.teamJobCount" text="Vom Team überwachte Jobs" icon="cil-layers"></app-dashboard-card>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 jh-col">
      <app-dashboard-card backgroundColor="bg-green" [caption]="dashboard?.jobCount" text="Alle überwachten Jobs" icon="cil-layers"></app-dashboard-card>
    </div>
  </div>

</div>
