@import '../variables';

::ng-deep {
  .jh-slider {
    .ng5-slider {
      margin: 0;

      .ng5-slider-pointer {
        width: 16px;
        height: 16px;
        top: -4px;
        background-color: #444444;
      }

      .ng5-slider-active {
        outline: none;
      }

      .ng5-slider-pointer:after {
        display: none;
      }

      .ng5-slider-selection {
        background-color: $primary;
        border-radius: 4px;
        height: 8px;
      }

      .ng5-slider-bar {
        border-radius: 4px;
        height: 8px;
      }
    }
  }
}
