@import './variables';

.card-header {
  background-color: unset;
}

.card-footer {
  background-color: #fff;
  border-top: unset;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

.main app-dashboard {
  display: unset;
  flex-direction: unset;
  min-height: unset;
}

label {
  font-weight: 500;
}

th {
  font-weight: 500;
}

.bg-teal {
  background-color: $teal;
}

.bg-yellow {
  background-color: $yellow;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-red {
  background-color: $red;
}

.bg-green {
  background-color: $green;
}

.jh-clickable-text {
  cursor: pointer;
  user-select: none;
}

.jh-collapse {
  overflow: hidden;
  padding: 0;
}

.btn-primary, .btn-success, .btn-warning, .btn-danger {
  color: white !important;
}

.btn-light {
  border: 1px solid $secondary !important;
}

.form-switch .form-check-input {
  cursor: pointer !important;
}

.card {
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .card {
    margin-bottom: 10px;
  }
}

.cil-plus, .cil-minus {
  font-weight: 900;
}

.pull-right {
  float: right;
}


// Adapted from CoreUI

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #23282c;
  text-align: left;
  background-color: #e4e5e6;
}

.form-group {
  margin-bottom: 1rem;
}

.dropdown-header {
  background: #e4e7ea;
  border-bottom: 1px solid #c8ced3;
}

.text-white .text-muted {
  color: rgba(255, 255, 255, 0.6) !important;
}

.text-muted {
  color: $gray !important;
}

a {
  color: #20a8d8;
  text-decoration: none;
  background-color: transparent;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-xs {
  font-size: 0.75rem !important;
}

.text-right {
  text-align: right !important;
}

.container-fluid {
  padding: 0 30px;
}

.card-accent-primary {
  border-top-color: $primary;
  border-top-width: 2px;
}

.card-accent-secondary {
  border-top-color: $secondary;
  border-top-width: 2px;
}
