html {
  overflow-y:scroll;
}

.card-header {
  background-color: unset;
}

.card-footer {
  background-color: #fff;
  border-top: unset;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

.main app-dashboard {
  display: unset;
  flex-direction: unset;
  min-height: unset;
}

label {
  font-weight: 500;
}

th {
  font-weight: 500;
}






// TODO remove global styling

.jh-collapse {
  overflow: hidden;
  padding: 0;
}

/*
 * animation for ng-view
 */
 .jh-fade-in {
  opacity: 1;
}
.jh-fade-in.ng-enter {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
.jh-fade-in.ng-enter {
  opacity: 0;
}
.jh-fade-in.ng-enter-active {
  opacity: 1;
}

/*
 * animation for buildAssignment
 */
.jh-fade {
    opacity: 1;
}
.jh-fade.ng-enter,
.jh-fade.ng-leave {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.jh-fade.ng-enter {
    opacity: 0;
}
.jh-fade.ng-enter-active {
    opacity: 1;
}
.jh-fade.ng-leave {
    opacity: 1;
}
.jh-fade.ng-leave-active {
    opacity: 0;
}


.jh-box {
  padding: 10px;
}

.jh-box-border {
  margin: 4px;
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
}

.jh-scenario-config {
  min-height: 335px;
}

.jh-gap-normal {
  margin-top: 48px;
}

.jh-clickable-text {
  cursor: pointer;
  user-select: none;
}

.small-box h4 {
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}

.panel-default>.panel-heading {
  background-color: #fff;
}

.dashboard-item-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: rgba(255,255,255,0.8);
  display: block;
  z-index: 10;
  background: rgba(0,0,0,0.1);
  text-decoration: none;
}

@media (max-width: 1280px) {
  .small-box h3 {
    font-size: 28px;
  }
  .small-box h4 {
    font-size: 25px;
  }
}

@media (max-width: 1024px) {
  .small-box h3 {
    font-size: 18px;
  }
  .small-box h4 {
    font-size: 14px;
  }
}
