html {
  overflow-y: scroll;
}

.card-header {
  background-color: unset;
}

.card-footer {
  background-color: #fff;
  border-top: unset;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 400;
}

.main app-dashboard {
  display: unset;
  flex-direction: unset;
  min-height: unset;
}

label {
  font-weight: 500;
}

th {
  font-weight: 500;
}

.jh-clickable-text {
  cursor: pointer;
  user-select: none;
}

.jh-collapse {
  overflow: hidden;
  padding: 0;
}
