// Variable overrides

// CoreUI colors
$blue: #20a8d8;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #f86c6b;
$orange: #f8cb00;
$yellow: #ffc107;
$green: #4dbd74;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #73818f;
$gray-dark: #2f353a;
$light-blue: #63c2de;
$primary: #20a8d8;
$secondary: #c8ced3;
$success: #4dbd74;
$info: #63c2de;
$warning: #ffc107;
$danger: #f86c6b;
$light: #f0f3f5;
$dark: #2f353a;

$sidebarItemSize: 47px;

// Bootstrap
$dropdown-padding-y: 0px;
$dropdown-item-padding-x: 20px;
$dropdown-item-padding-y: 10px;
$dropdown-header-font-size: 0.75rem;
$dropdown-header-padding-y: 8px;
$dropdown-header-color: #73818f;
$card-spacer-y: 24px;
