<div class="animated fadeIn">

  <div *ngIf="lampDTOs?.length < 1">keine Lampen vorhanden</div>

  <accordion [closeOthers]="true" >
    <accordion-group *ngFor="let lampDTO of lampDTOs">

      <div accordion-heading>{{ lampDTO.name }}</div>



      TODO
      TODO
      TODO
      TODO
      TODO




      <div class="form-group">
        <label><u>Arbeitszeit</u></label>
        <div class="input-group">
          <timepicker [mousewheel]="false" [minuteStep]="15" [showMeridian]="false" [(ngModel)]="lampDTO.workingStart"></timepicker>
          <timepicker [mousewheel]="false" [minuteStep]="15" [showMeridian]="false" [(ngModel)]="lampDTO.workingEnd"></timepicker>
        </div>
      </div><!-- /.form group -->

      <div class="form-group jh-gap-normal">
        <label><u>Jobs</u></label>
        <ul>
          <li *ngFor="let job of lampDTO.jobs">
            {{ job.name }}
            <!-- TODO ng-click="removeJob($parent.$index, job.name) -->
            <app-remove-button></app-remove-button>
          </li>
        </ul>

        <div class="input-group">
          <button class="btn btn-default" (click)="addJob(lampDTO)" ng-disabled="loadingJobs">Job hinzufügen</button>
        </div>
      </div><!-- /.form group -->


      <div class="form-group jh-gap-normal">
        <label><u>Szenarien</u></label>

        <div class="box collapsed-box box-solid" *ngIf="lampDTO.buildingConfigs.length">
          <div class="box-header">
            <h3 class="box-title">BUILDING ({{ lampDTO.buildingConfigs.length }})</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div><!-- /. box-tools -->
          </div><!-- /.box-header -->
          <div class="box-body no-padding" style="display: none;">
            <div class="row">
              <div class="col-md-3 col-sm-6" *ngFor="let s of lampDTO.buildingConfigs">
                <app-scenario-config [scenarioConfig]="s"></app-scenario-config>
              </div>
            </div><!-- /.row -->
          </div><!-- /.box-body -->
        </div>

        <div class="box collapsed-box box-solid" *ngIf="lampDTO.failureConfigs.length">
          <div class="box-header">
            <h3 class="box-title">FAILURE ({{ lampDTO.failureConfigs.length }})</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-danger btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div><!-- /. box-tools -->
          </div><!-- /.box-header -->
          <div class="box-body no-padding" style="display: none;">
            <div class="row">
              <div class="col-md-3 col-sm-6" *ngFor="let s of lampDTO.failureConfigs">
                <app-scenario-config [scenarioConfig]="s"></app-scenario-config>
              </div>
            </div><!-- /.row -->
          </div><!-- /.box-body -->
        </div>

        <div class="box collapsed-box box-solid" *ngIf="lampDTO.unstableConfigs.length">
          <div class="box-header">
            <h3 class="box-title">UNSTABLE ({{ lampDTO.unstableConfigs.length }})</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-warning btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div><!-- /. box-tools -->
          </div><!-- /.box-header -->
          <div class="box-body no-padding" style="display: none;">
            <div class="row">
              <div class="col-md-3 col-sm-6" *ngFor="let s of lampDTO.unstableConfigs">
                <app-scenario-config [scenarioConfig]="s"></app-scenario-config>
              </div>
            </div><!-- /.row -->
          </div><!-- /.box-body -->
        </div>

        <div class="box collapsed-box box-solid" *ngIf="lampDTO.successConfigs.length">
          <div class="box-header">
            <h3 class="box-title">SUCCESS ({{ lampDTO.successConfigs.length }})</h3>
            <div class="pull-right box-tools">
              <button type="button" class="btn btn-success btn-sm" data-widget="collapse"><i class="fa fa-plus"></i></button>
            </div><!-- /. box-tools -->
          </div><!-- /.box-header -->
          <div class="box-body no-padding" style="display: none;">
            <div class="row">
              <div class="col-md-3 col-sm-6" *ngFor="let s of lampDTO.successConfigs">
                <app-scenario-config [scenarioConfig]="s"></app-scenario-config>
              </div>
            </div><!-- /.row -->
          </div><!-- /.box-body -->
        </div>

        <div class="input-group">
          <button class="btn btn-default" (click)="addScenario(lampDTO)" ng-disabled="loadingScenarios">Szenario
            hinzufügen</button>
        </div><!-- /.input group -->

      </div><!-- /.form group -->

      <div class="form-group jh-gap-normal">
        <button class="btn btn-success" ng-click="saveLamp($index)">Speichern</button>
        <button class="btn btn-default" ng-click="resetLamp($index)">Zurücksetzen</button>
      </div><!-- /.form group -->





















    </accordion-group>
  </accordion>

</div>
