<div class="animated fadeIn">

  <div *ngIf="lampDTOs?.length < 1">keine Lampen vorhanden</div>

  <div class="card card-accent-primary" *ngFor="let lampDTO of lampDTOs">
    <div class="card-header jh-clickable-text" (click)="accordionStateService.toggle(lampDTO)">
      <h5>{{ lampDTO.name }}</h5>
    </div>
    <div class="card-body jh-collapse" [@slideInOut]="accordionStateService.isClosed(lampDTO)">
      <div class="jh-build-assignment-item">

        <div class="form-group">
          <label><u>Arbeitszeit</u></label>
          <div class="input-group">
            <ngb-timepicker class="mr-4" [minuteStep]="15" [meridian]="false" [(ngModel)]="lampDTO.workingStart"></ngb-timepicker>
            <ngb-timepicker [minuteStep]="15" [meridian]="false" [(ngModel)]="lampDTO.workingEnd"></ngb-timepicker>
          </div>
        </div><!-- /.form group -->

        <div class="form-group jh-gap-normal">
          <label><u>Jobs</u></label>
          <ul>
            <li *ngFor="let job of lampDTO.jobs">
              {{ job.name }}
              <app-remove-button (click)="removeJob(lampDTO, job)"></app-remove-button>
            </li>
          </ul>

          <div class="input-group">
            <button class="btn btn-light" (click)="addJob(lampDTO)" [disabled]="loading">Job hinzufügen</button>
          </div>
        </div><!-- /.form group -->


        <div class="form-group jh-gap-normal">
          <label><u>Szenarien</u></label>

          <app-scenario-config-group [name]="'BUILDING'" [buttonColor]="'btn-primary'" [configs]="lampDTO.buildingConfigs"></app-scenario-config-group>
          <app-scenario-config-group [name]="'FAILURE'" [buttonColor]="'btn-danger'" [configs]="lampDTO.failureConfigs"></app-scenario-config-group>
          <app-scenario-config-group [name]="'UNSTABLE'" [buttonColor]="'btn-warning'" [configs]="lampDTO.unstableConfigs"></app-scenario-config-group>
          <app-scenario-config-group [name]="'SUCCESS'" [buttonColor]="'btn-success'" [configs]="lampDTO.successConfigs"></app-scenario-config-group>

          <div class="input-group">
            <button class="btn btn-light" (click)="addScenario(lampDTO)" [disabled]="loading">Szenario
              hinzufügen</button>
          </div><!-- /.input group -->
        </div><!-- /.form group -->

        <div class="form-group jh-gap-normal">
          <button class="btn btn-success mr-1" (click)="saveLamp(lampDTO)">Speichern</button>
          <button class="btn btn-light" (click)="resetLamp(lampDTO)">Zurücksetzen</button>
        </div><!-- /.form group -->
      </div>
    </div>
  </div>

</div>
